# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# 依赖
node_modules
target
vendor

# 构建产物
dist
build
release

# 日志
*.log
logs

# 环境变量
.env
.env.local
.env.*.local

# 测试
coverage
.nyc_output

# 文档
docs
*.md
!README.md

# 部署配置
deploy
.github
.dockerignore
Dockerfile*