openapi: 3.0.3
info:
  title: 冰溪 ERP API
  description: |
    冰溪 ERP 系统完整 OpenAPI 3.0 规范

    ## 项目概述
    冰溪 ERP 是面向面料 / 染整行业的全栈企业资源计划系统，
    覆盖销售、采购、库存、财务、生产、CRM、AI、BI 等核心业务域。

    ## 技术栈
    - 后端：Rust 1.94 + axum 0.7 + SeaORM 2.0-rc.40
    - 数据库：PostgreSQL 14+
    - 认证：Bearer Token (JWT) + TOTP 双因素

    ## API 规模
    - 端点数：850+
    - 业务域：19 个 routes 模块
    - 数据库表：213
    - 文档版本：v2026.617.0001

    ## 通用约定
    - 所有响应统一使用 `ApiResponse<T>` 包装（code / data / message）
    - 业务异常返回 `code >= 400` 的标准错误码
    - 多租户隔离：所有业务请求必须携带有效 JWT，租户 ID 从 token 提取
    - 时间格式：ISO 8601（`2026-06-17T03:30:00+08:00`）
    - 金额单位：元（DECIMAL(18,2)）
  version: 2026.617.0001
  contact:
    name: 冰溪 ERP Team
    url: https://github.com/57231307/1
    email: support@bingxi.com
  license:
    name: MIT
    url: https://github.com/57231307/1/blob/main/LICENSE

servers:
  - url: https://api.bingxi.com/v1
    description: 生产环境
  - url: https://staging-api.bingxi.com/v1
    description: 预发环境
  - url: http://localhost:8080/api/v1
    description: 本地开发

tags:
  - name: 认证
    description: 用户认证、Token 管理
  - name: 用户管理
    description: 用户 CRUD、密码、状态
  - name: 角色权限
    description: 角色 / 权限 / 数据权限 / 字段权限
  - name: 租户管理
    description: 租户 / 套餐 / 订阅 / 配置
  - name: 部门组织
    description: 部门树 / 组织架构
  - name: 商品
    description: 商品 / 分类 / 颜色 / 编码映射
  - name: 客户
    description: 客户 / 信用评级
  - name: 供应商
    description: 供应商 / 联系人 / 评估 / 分级
  - name: 销售订单
    description: 销售订单 / 订单明细 / 变更历史
  - name: 销售合同
    description: 销售合同 / 执行
  - name: 销售价格
    description: 销售价 / 审批 / 历史 / 价格策略
  - name: 销售发货
    description: 销售发货 / 发货明细
  - name: 销售退货
    description: 销售退货 / 退货明细
  - name: 报价单
    description: 报价单 / 报价明细
  - name: 客户定制
    description: 客户定制单 / 定制设计
  - name: 采购订单
    description: 采购订单 / 订单明细
  - name: 采购收货
    description: 采购收货 / 收货明细
  - name: 采购退货
    description: 采购退货 / 退货明细
  - name: 采购合同
    description: 采购合同 / 执行
  - name: 采购价格
    description: 采购价 / 审批 / 历史
  - name: 采购检验
    description: 采购检验
  - name: 库存
    description: 库存 / 库存交易 / 预占
  - name: 库存调整
    description: 库存调整 / 调整明细
  - name: 库存调拨
    description: 库存调拨 / 调拨明细
  - name: 库存盘点
    description: 库存盘点 / 盘点明细
  - name: 仓库
    description: 仓库 / 库位
  - name: 凭证
    description: 凭证 / 凭证明细
  - name: 会计科目
    description: 会计科目 / 科目余额 / 会计期间
  - name: 应收
    description: 应收发票 / 收款 / 核销 / 对账 / 账龄
  - name: 应付
    description: 应付发票 / 付款 / 核销 / 对账
  - name: 成本
    description: 成本归集 / 直接材料 / 直接人工 / 制造费用 / 染整费用 / 成本分析
  - name: 固定资产
    description: 固定资产 / 折旧 / 处置
  - name: 财务分析
    description: 财务指标 / 分析结果 / 趋势 / 报表配置
  - name: 资金
    description: 资金账户 / 计划 / 调拨 / 交易 / 监控
  - name: 预算
    description: 预算项 / 预算方案 / 控制 / 调整
  - name: 辅助核算
    description: 辅助核算维度 / 记录 / 汇总
  - name: 币种
    description: 币种 / 汇率 / 汇率历史
  - name: 生产订单
    description: 生产订单
  - name: BOM
    description: 物料清单 / BOM 明细
  - name: MRP
    description: MRP 计算结果
  - name: 工作中心
    description: 工作中心
  - name: 质量标准
    description: 质量标准 / 版本 / 引用
  - name: 质量检验
    description: 质量检验 / 检验明细 / 检验标准 / 统计
  - name: 不合格品
    description: 不合格品处理
  - name: BPM
    description: 流程定义 / 实例 / 任务 / 节点 / 流转
  - name: 通知
    description: 系统通知 / 通知设置
  - name: 邮件
    description: 邮件模板 / 发送日志
  - name: OA
    description: OA 公告 / 站内信
  - name: 审计
    description: 审计日志 / 业务审计 / 财务审计 / 权限审计 / 安全审计 / 全局审计
  - name: 日志
    description: 操作日志 / API 访问日志 / 登录日志 / 性能日志 / 系统健康日志
  - name: 报表
    description: 报表看板 / 报表定义 / 报表组件 / 报表模板 / 订阅 / 导出
  - name: BI
    description: 销售事实 / 维度表 / 多维分析
  - name: 业务追溯
    description: 业务追溯链 / 快照
  - name: AI 分析
    description: AI 销售预测 / 库存优化 / 异常检测 / 建议
  - name: AI 工艺优化
    description: AI 工艺优化（16 端点）
  - name: AI 质量预测
    description: AI 质量预测（16 端点）
  - name: 染整工艺
    description: 染色配方 / 染批 / 缸次 / 坯布
  - name: 色卡
    description: 色卡 / 色号映射
  - name: 物流
    description: 物流运单
  - name: API 网关
    description: API 密钥 / Webhook / 限流
  - name: 监控
    description: Prometheus 指标 / 健康检查
  - name: 系统
    description: 系统配置 / 系统更新
  - name: 导入导出
    description: CSV / Excel 导入导出
  - name: 高级分析
    description: 销售分析 / 客户分析 / 业务分析
  - name: 灾备
    description: 灾备切换 / 故障转移

paths:
  # ═══════════════════════════════════════════════════════════════════
  # 认证模块
  # ═══════════════════════════════════════════════════════════════════
  /erp/auth/login:
    post:
      tags: [认证]
      summary: 用户登录
      description: 用户名密码登录，成功返回 JWT Token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: 登录成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '423':
          description: 账号被锁定
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /erp/auth/login/2fa:
    post:
      tags: [认证]
      summary: 二因素验证登录
      description: 用户名密码 + TOTP 双因素登录
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TwoFactorLoginRequest'
      responses:
        '200':
          description: 登录成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /erp/auth/logout:
    post:
      tags: [认证]
      summary: 用户登出
      description: 注销当前 Token
      responses:
        '200':
          description: 登出成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /erp/auth/verify:
    get:
      tags: [认证]
      summary: 验证 Token 有效性
      responses:
        '200':
          description: Token 有效
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /erp/auth/refresh:
    post:
      tags: [认证]
      summary: 刷新 Token
      responses:
        '200':
          description: 刷新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'

  /erp/auth/change-password:
    post:
      tags: [认证]
      summary: 修改密码
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePasswordRequest'
      responses:
        '200':
          description: 修改成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  # ═══════════════════════════════════════════════════════════════════
  # 用户管理
  # ═══════════════════════════════════════════════════════════════════
  /erp/users:
    get:
      tags: [用户管理]
      summary: 获取用户列表
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
        - name: keyword
          in: query
          description: 关键字（用户名 / 姓名 / 邮箱）
          schema:
            type: string
        - name: department_id
          in: query
          schema:
            type: integer
        - name: role_id
          in: query
          schema:
            type: integer
        - name: status
          in: query
          schema:
            type: string
            enum: [active, inactive, locked]
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/UserList'
    post:
      tags: [用户管理]
      summary: 创建用户
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreateRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  /erp/users/{id}:
    parameters:
      - $ref: '#/components/parameters/IdParam'
    get:
      tags: [用户管理]
      summary: 获取用户详情
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
    put:
      tags: [用户管理]
      summary: 更新用户
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdateRequest'
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
    delete:
      tags: [用户管理]
      summary: 删除用户
      responses:
        '200':
          description: 删除成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /erp/users/{id}/reset-password:
    post:
      tags: [用户管理]
      summary: 重置用户密码
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequest'
      responses:
        '200':
          description: 重置成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /erp/users/{id}/unlock:
    post:
      tags: [用户管理]
      summary: 解锁用户
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: 解锁成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /erp/users/{id}/enable:
    post:
      tags: [用户管理]
      summary: 启用用户
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: 启用成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /erp/users/{id}/disable:
    post:
      tags: [用户管理]
      summary: 禁用用户
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: 禁用成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  # ═══════════════════════════════════════════════════════════════════
  # 角色权限
  # ═══════════════════════════════════════════════════════════════════
  /erp/roles:
    get:
      tags: [角色权限]
      summary: 获取角色列表
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleList'
    post:
      tags: [角色权限]
      summary: 创建角色
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleCreateRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'

  /erp/roles/{id}:
    parameters:
      - $ref: '#/components/parameters/IdParam'
    get:
      tags: [角色权限]
      summary: 获取角色详情
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
    put:
      tags: [角色权限]
      summary: 更新角色
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleUpdateRequest'
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
    delete:
      tags: [角色权限]
      summary: 删除角色
      responses:
        '200':
          description: 删除成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /erp/roles/{id}/permissions:
    parameters:
      - $ref: '#/components/parameters/IdParam'
    get:
      tags: [角色权限]
      summary: 获取角色权限
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Permission'
    put:
      tags: [角色权限]
      summary: 设置角色权限
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                permission_ids:
                  type: array
                  items:
                    type: integer
      responses:
        '200':
          description: 设置成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /erp/permissions:
    get:
      tags: [角色权限]
      summary: 获取权限列表
      parameters:
        - name: resource
          in: query
          schema:
            type: string
        - name: keyword
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Permission'
    post:
      tags: [角色权限]
      summary: 创建权限
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PermissionCreateRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Permission'

  /erp/permissions/{id}:
    parameters:
      - $ref: '#/components/parameters/IdParam'
    put:
      tags: [角色权限]
      summary: 更新权限
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PermissionUpdateRequest'
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Permission'
    delete:
      tags: [角色权限]
      summary: 删除权限
      responses:
        '200':
          description: 删除成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /erp/data-permissions:
    get:
      tags: [角色权限]
      summary: 获取数据权限列表
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DataPermission'
    post:
      tags: [角色权限]
      summary: 创建数据权限
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataPermissionRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataPermission'

  /erp/field-permissions:
    get:
      tags: [角色权限]
      summary: 获取字段权限列表
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FieldPermission'
    post:
      tags: [角色权限]
      summary: 创建字段权限
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FieldPermissionRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldPermission'

  # ═══════════════════════════════════════════════════════════════════
  # 租户管理
  # ═══════════════════════════════════════════════════════════════════
  /erp/tenants:
    get:
      tags: [租户管理]
      summary: 获取租户列表（平台级）
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantList'
    post:
      tags: [租户管理]
      summary: 创建租户
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantCreateRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'

  /erp/tenants/{id}:
    parameters:
      - $ref: '#/components/parameters/IdParam'
    get:
      tags: [租户管理]
      summary: 获取租户详情
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
    put:
      tags: [租户管理]
      summary: 更新租户
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantUpdateRequest'
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
    delete:
      tags: [租户管理]
      summary: 删除租户
      responses:
        '200':
          description: 删除成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /erp/tenants/{id}/users:
    parameters:
      - $ref: '#/components/parameters/IdParam'
    get:
      tags: [租户管理]
      summary: 获取租户用户列表
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
    post:
      tags: [租户管理]
      summary: 添加租户用户
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantUserRequest'
      responses:
        '201':
          description: 添加成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /erp/tenants/{id}/configs:
    parameters:
      - $ref: '#/components/parameters/IdParam'
    get:
      tags: [租户管理]
      summary: 获取租户配置
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TenantConfig'
    put:
      tags: [租户管理]
      summary: 批量更新租户配置
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/TenantConfigRequest'
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /erp/tenant-plans:
    get:
      tags: [租户管理]
      summary: 获取租户套餐列表
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TenantPlan'
    post:
      tags: [租户管理]
      summary: 创建租户套餐
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantPlanRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantPlan'

  /erp/tenant-subscriptions:
    get:
      tags: [租户管理]
      summary: 获取租户订阅列表
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TenantSubscription'
    post:
      tags: [租户管理]
      summary: 创建租户订阅
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantSubscriptionRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantSubscription'

  /erp/tenant-billing:
    get:
      tags: [租户管理]
      summary: 获取租户计费记录
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
        - name: tenant_id
          in: query
          schema:
            type: integer
        - name: period
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantBillingList'

  # ═══════════════════════════════════════════════════════════════════
  # 部门组织
  # ═══════════════════════════════════════════════════════════════════
  /erp/departments:
    get:
      tags: [部门组织]
      summary: 获取部门树
      parameters:
        - name: parent_id
          in: query
          schema:
            type: integer
        - name: include_inactive
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Department'
    post:
      tags: [部门组织]
      summary: 创建部门
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepartmentRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Department'

  /erp/departments/{id}:
    parameters:
      - $ref: '#/components/parameters/IdParam'
    put:
      tags: [部门组织]
      summary: 更新部门
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepartmentRequest'
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Department'
    delete:
      tags: [部门组织]
      summary: 删除部门
      responses:
        '200':
          description: 删除成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  # ═══════════════════════════════════════════════════════════════════
  # 商品
  # ═══════════════════════════════════════════════════════════════════
  /erp/products:
    get:
      tags: [商品]
      summary: 获取商品列表
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
        - name: keyword
          in: query
          description: 关键字（编码 / 名称）
          schema:
            type: string
        - name: category_id
          in: query
          schema:
            type: integer
        - name: status
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductList'
    post:
      tags: [商品]
      summary: 创建商品
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'

  /erp/products/{id}:
    parameters:
      - $ref: '#/components/parameters/IdParam'
    get:
      tags: [商品]
      summary: 获取商品详情
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
    put:
      tags: [商品]
      summary: 更新商品
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductRequest'
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
    delete:
      tags: [商品]
      summary: 删除商品
      responses:
        '200':
          description: 删除成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /erp/products/bulk:
    post:
      tags: [商品]
      summary: 批量创建商品
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  created:
                    type: integer
                  failed:
                    type: integer

  /erp/product-categories:
    get:
      tags: [商品]
      summary: 获取商品分类树
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductCategory'
    post:
      tags: [商品]
      summary: 创建商品分类
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCategoryRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductCategory'

  /erp/product-categories/{id}:
    parameters:
      - $ref: '#/components/parameters/IdParam'
    put:
      tags: [商品]
      summary: 更新商品分类
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCategoryRequest'
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductCategory'
    delete:
      tags: [商品]
      summary: 删除商品分类
      responses:
        '200':
          description: 删除成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /erp/product-colors:
    get:
      tags: [商品]
      summary: 获取商品颜色列表
      parameters:
        - name: product_id
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductColor'
    post:
      tags: [商品]
      summary: 创建商品颜色
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductColorRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductColor'

  /erp/product-code-mappings:
    get:
      tags: [商品]
      summary: 获取商品编码映射
      parameters:
        - name: internal_code
          in: query
          schema:
            type: string
        - name: external_code
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductCodeMapping'
    post:
      tags: [商品]
      summary: 创建商品编码映射
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCodeMappingRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductCodeMapping'

  /erp/product-supplier-mappings:
    get:
      tags: [商品]
      summary: 获取商品-供应商映射
      parameters:
        - name: product_id
          in: query
          schema:
            type: integer
        - name: supplier_id
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductSupplierMapping'
    post:
      tags: [商品]
      summary: 创建商品-供应商映射
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductSupplierMappingRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductSupplierMapping'

  # ═══════════════════════════════════════════════════════════════════
  # 客户
  # ═══════════════════════════════════════════════════════════════════
  /erp/customers:
    get:
      tags: [客户]
      summary: 获取客户列表
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
        - name: keyword
          in: query
          schema:
            type: string
        - name: level
          in: query
          schema:
            type: string
            enum: [A, B, C, D]
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerList'
    post:
      tags: [客户]
      summary: 创建客户
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'

  /erp/customers/{id}:
    parameters:
      - $ref: '#/components/parameters/IdParam'
    get:
      tags: [客户]
      summary: 获取客户详情
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
    put:
      tags: [客户]
      summary: 更新客户
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerRequest'
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
    delete:
      tags: [客户]
      summary: 删除客户
      responses:
        '200':
          description: 删除成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /erp/customer-credit-ratings:
    get:
      tags: [客户]
      summary: 获取客户信用评级
      parameters:
        - name: customer_id
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerCreditRating'
    post:
      tags: [客户]
      summary: 创建客户信用评级
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCreditRatingRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerCreditRating'

  /erp/customer-credit-changes:
    get:
      tags: [客户]
      summary: 获取客户信用变更历史
      parameters:
        - name: customer_id
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerCreditChange'

  # ═══════════════════════════════════════════════════════════════════
  # 供应商
  # ═══════════════════════════════════════════════════════════════════
  /erp/suppliers:
    get:
      tags: [供应商]
      summary: 获取供应商列表
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
        - name: keyword
          in: query
          schema:
            type: string
        - name: level
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierList'
    post:
      tags: [供应商]
      summary: 创建供应商
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupplierRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Supplier'

  /erp/suppliers/{id}:
    parameters:
      - $ref: '#/components/parameters/IdParam'
    get:
      tags: [供应商]
      summary: 获取供应商详情
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Supplier'
    put:
      tags: [供应商]
      summary: 更新供应商
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupplierRequest'
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Supplier'
    delete:
      tags: [供应商]
      summary: 删除供应商
      responses:
        '200':
          description: 删除成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /erp/supplier-categories:
    get:
      tags: [供应商]
      summary: 获取供应商分类
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SupplierCategory'
    post:
      tags: [供应商]
      summary: 创建供应商分类
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupplierCategoryRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierCategory'

  /erp/supplier-contacts:
    get:
      tags: [供应商]
      summary: 获取供应商联系人
      parameters:
        - name: supplier_id
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SupplierContact'
    post:
      tags: [供应商]
      summary: 创建供应商联系人
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupplierContactRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierContact'

  /erp/supplier-evaluations:
    get:
      tags: [供应商]
      summary: 获取供应商评估记录
      parameters:
        - name: supplier_id
          in: query
          schema:
            type: integer
        - name: period
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SupplierEvaluation'
    post:
      tags: [供应商]
      summary: 创建供应商评估
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupplierEvaluationRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierEvaluation'

  /erp/supplier-evaluation-indicators:
    get:
      tags: [供应商]
      summary: 获取评估指标
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SupplierEvaluationIndicator'
    post:
      tags: [供应商]
      summary: 创建评估指标
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupplierEvaluationIndicatorRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierEvaluationIndicator'

  /erp/supplier-overall-scores:
    get:
      tags: [供应商]
      summary: 获取供应商综合评分
      parameters:
        - name: supplier_id
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SupplierOverallScore'

  /erp/supplier-levels:
    get:
      tags: [供应商]
      summary: 获取供应商分级
      parameters:
        - name: supplier_id
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SupplierLevel'

  /erp/supplier-qualifications:
    get:
      tags: [供应商]
      summary: 获取供应商资质
      parameters:
        - name: supplier_id
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SupplierQualification'

  /erp/supplier-blacklists:
    get:
      tags: [供应商]
      summary: 获取供应商黑名单
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SupplierBlacklist'
    post:
      tags: [供应商]
      summary: 添加供应商到黑名单
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupplierBlacklistRequest'
      responses:
        '201':
          description: 添加成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierBlacklist'

  /erp/supplier-products:
    get:
      tags: [供应商]
      summary: 获取供应商商品
      parameters:
        - name: supplier_id
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SupplierProduct'
    post:
      tags: [供应商]
      summary: 关联供应商商品
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupplierProductRequest'
      responses:
        '201':
          description: 关联成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierProduct'

  /erp/supplier-grades:
    get:
      tags: [供应商]
      summary: 获取供应商等级
      parameters:
        - name: supplier_id
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SupplierGrade'

  /erp/supplier-product-colors:
    get:
      tags: [供应商]
      summary: 获取供应商商品颜色
      parameters:
        - name: supplier_id
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SupplierProductColor'

  # ═══════════════════════════════════════════════════════════════════
  # 销售订单
  # ═══════════════════════════════════════════════════════════════════
  /erp/sales/orders:
    get:
      tags: [销售订单]
      summary: 获取销售订单列表
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
        - name: customer_id
          in: query
          schema:
            type: integer
        - name: status
          in: query
          schema:
            type: string
        - name: start_date
          in: query
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          schema:
            type: string
            format: date
        - name: keyword
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrderList'
    post:
      tags: [销售订单]
      summary: 创建销售订单
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesOrderRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrder'

  /erp/sales/orders/{id}:
    parameters:
      - $ref: '#/components/parameters/IdParam'
    get:
      tags: [销售订单]
      summary: 获取销售订单详情
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrder'
    put:
      tags: [销售订单]
      summary: 更新销售订单
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesOrderRequest'
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrder'
    delete:
      tags: [销售订单]
      summary: 删除销售订单
      responses:
        '200':
          description: 删除成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /erp/sales/orders/{id}/approve:
    post:
      tags: [销售订单]
      summary: 审批销售订单
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                approved:
                  type: boolean
                comment:
                  type: string
      responses:
        '200':
          description: 审批成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /erp/sales/orders/{id}/cancel:
    post:
      tags: [销售订单]
      summary: 取消销售订单
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
      responses:
        '200':
          description: 取消成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /erp/sales/orders/{id}/change-history:
    get:
      tags: [销售订单]
      summary: 获取订单变更历史
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SalesOrderChangeHistory'

  /erp/sales/order-items:
    get:
      tags: [销售订单]
      summary: 获取订单明细
      parameters:
        - name: order_id
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SalesOrderItem'

  /erp/sales/contracts:
    get:
      tags: [销售合同]
      summary: 获取销售合同列表
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesContractList'
    post:
      tags: [销售合同]
      summary: 创建销售合同
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesContractRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesContract'

  /erp/sales/contracts/{id}:
    parameters:
      - $ref: '#/components/parameters/IdParam'
    get:
      tags: [销售合同]
      summary: 获取销售合同详情
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesContract'
    put:
      tags: [销售合同]
      summary: 更新销售合同
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesContractRequest'
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesContract'
    delete:
      tags: [销售合同]
      summary: 删除销售合同
      responses:
        '200':
          description: 删除成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /erp/sales/prices:
    get:
      tags: [销售价格]
      summary: 获取销售价格列表
      parameters:
        - name: product_id
          in: query
          schema:
            type: integer
        - name: customer_id
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SalesPrice'
    post:
      tags: [销售价格]
      summary: 创建销售价格
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesPriceRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesPrice'

  /erp/sales/deliveries:
    get:
      tags: [销售发货]
      summary: 获取销售发货列表
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesDeliveryList'
    post:
      tags: [销售发货]
      summary: 创建销售发货单
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesDeliveryRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesDelivery'

  /erp/sales/returns:
    get:
      tags: [销售退货]
      summary: 获取销售退货列表
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesReturnList'
    post:
      tags: [销售退货]
      summary: 创建销售退货单
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesReturnRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesReturn'

  /erp/quotations:
    get:
      tags: [报价单]
      summary: 获取报价单列表
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuotationList'
    post:
      tags: [报价单]
      summary: 创建报价单
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuotationRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quotation'

  /erp/custom-orders:
    get:
      tags: [客户定制]
      summary: 获取客户定制单列表
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomOrderList'
    post:
      tags: [客户定制]
      summary: 创建客户定制单
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomOrderRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomOrder'

  # ═══════════════════════════════════════════════════════════════════
  # 采购模块
  # ═══════════════════════════════════════════════════════════════════
  /erp/purchase/orders:
    get:
      tags: [采购订单]
      summary: 获取采购订单列表
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
        - name: supplier_id
          in: query
          schema:
            type: integer
        - name: status
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseOrderList'
    post:
      tags: [采购订单]
      summary: 创建采购订单
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseOrderRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseOrder'

  /erp/purchase/orders/{id}:
    parameters:
      - $ref: '#/components/parameters/IdParam'
    get:
      tags: [采购订单]
      summary: 获取采购订单详情
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseOrder'
    put:
      tags: [采购订单]
      summary: 更新采购订单
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseOrderRequest'
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseOrder'
    delete:
      tags: [采购订单]
      summary: 删除采购订单
      responses:
        '200':
          description: 删除成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /erp/purchase/orders/{id}/approve:
    post:
      tags: [采购订单]
      summary: 审批采购订单
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: 审批成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /erp/purchase/receipts:
    get:
      tags: [采购收货]
      summary: 获取采购收货列表
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseReceiptList'
    post:
      tags: [采购收货]
      summary: 创建采购收货单
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseReceiptRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseReceipt'

  /erp/purchase/returns:
    get:
      tags: [采购退货]
      summary: 获取采购退货列表
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseReturnList'
    post:
      tags: [采购退货]
      summary: 创建采购退货单
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseReturnRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseReturn'

  /erp/purchase/contracts:
    get:
      tags: [采购合同]
      summary: 获取采购合同列表
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseContractList'
    post:
      tags: [采购合同]
      summary: 创建采购合同
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseContractRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseContract'

  /erp/purchase/prices:
    get:
      tags: [采购价格]
      summary: 获取采购价格列表
      parameters:
        - name: product_id
          in: query
          schema:
            type: integer
        - name: supplier_id
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PurchasePrice'

  /erp/purchase/inspections:
    get:
      tags: [采购检验]
      summary: 获取采购检验列表
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseInspectionList'
    post:
      tags: [采购检验]
      summary: 创建采购检验单
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseInspectionRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseInspection'

  # ═══════════════════════════════════════════════════════════════════
  # 库存
  # ═══════════════════════════════════════════════════════════════════
  /erp/inventory/stocks:
    get:
      tags: [库存]
      summary: 获取库存列表
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
        - name: product_id
          in: query
          schema:
            type: integer
        - name: warehouse_id
          in: query
          schema:
            type: integer
        - name: batch_no
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryStockList'

  /erp/inventory/transactions:
    get:
      tags: [库存]
      summary: 获取库存交易流水
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
        - name: product_id
          in: query
          schema:
            type: integer
        - name: type
          in: query
          schema:
            type: string
            enum: [in, out, transfer, adjust]
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryTransactionList'

  /erp/inventory/reservations:
    get:
      tags: [库存]
      summary: 获取库存预占
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryReservationList'
    post:
      tags: [库存]
      summary: 创建库存预占
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventoryReservationRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryReservation'

  /erp/inventory/adjustments:
    get:
      tags: [库存调整]
      summary: 获取库存调整列表
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryAdjustmentList'
    post:
      tags: [库存调整]
      summary: 创建库存调整单
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventoryAdjustmentRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryAdjustment'

  /erp/inventory/transfers:
    get:
      tags: [库存调拨]
      summary: 获取库存调拨列表
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryTransferList'
    post:
      tags: [库存调拨]
      summary: 创建库存调拨单
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventoryTransferRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryTransfer'

  /erp/inventory/counts:
    get:
      tags: [库存盘点]
      summary: 获取库存盘点列表
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryCountList'
    post:
      tags: [库存盘点]
      summary: 创建库存盘点单
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventoryCountRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryCount'

  /erp/warehouses:
    get:
      tags: [仓库]
      summary: 获取仓库列表
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Warehouse'
    post:
      tags: [仓库]
      summary: 创建仓库
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WarehouseRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Warehouse'

  /erp/warehouse-locations:
    get:
      tags: [仓库]
      summary: 获取库位列表
      parameters:
        - name: warehouse_id
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WarehouseLocation'

  # ═══════════════════════════════════════════════════════════════════
  # 财务模块
  # ═══════════════════════════════════════════════════════════════════
  /erp/finance/vouchers:
    get:
      tags: [凭证]
      summary: 获取凭证列表
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
        - name: period
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoucherList'
    post:
      tags: [凭证]
      summary: 创建凭证
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoucherRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Voucher'

  /erp/finance/vouchers/{id}:
    parameters:
      - $ref: '#/components/parameters/IdParam'
    get:
      tags: [凭证]
      summary: 获取凭证详情
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Voucher'
    put:
      tags: [凭证]
      summary: 更新凭证
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoucherRequest'
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Voucher'
    delete:
      tags: [凭证]
      summary: 删除凭证
      responses:
        '200':
          description: 删除成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /erp/finance/vouchers/{id}/post:
    post:
      tags: [凭证]
      summary: 过账
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: 过账成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /erp/finance/vouchers/{id}/reverse:
    post:
      tags: [凭证]
      summary: 红字冲销
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
      responses:
        '200':
          description: 冲销成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /erp/finance/account-subjects:
    get:
      tags: [会计科目]
      summary: 获取会计科目树
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AccountSubject'
    post:
      tags: [会计科目]
      summary: 创建会计科目
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountSubjectRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSubject'

  /erp/finance/account-balances:
    get:
      tags: [会计科目]
      summary: 获取科目余额
      parameters:
        - name: period
          in: query
          schema:
            type: string
        - name: subject_id
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AccountBalance'

  /erp/finance/accounting-periods:
    get:
      tags: [会计科目]
      summary: 获取会计期间
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AccountingPeriod'

  /erp/ar/invoices:
    get:
      tags: [应收]
      summary: 获取应收发票列表
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
        - name: customer_id
          in: query
          schema:
            type: integer
        - name: status
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArInvoiceList'
    post:
      tags: [应收]
      summary: 创建应收发票
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArInvoiceRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArInvoice'

  /erp/ar/collections:
    get:
      tags: [应收]
      summary: 获取收款记录
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArCollectionList'
    post:
      tags: [应收]
      summary: 创建收款记录
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArCollectionRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArCollection'

  /erp/ar/reconciliations:
    get:
      tags: [应收]
      summary: 获取应收对账
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArReconciliationList'
    post:
      tags: [应收]
      summary: 创建对账单
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArReconciliationRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArReconciliation'

  /erp/ar/aging-analysis:
    get:
      tags: [应收]
      summary: 账龄分析
      parameters:
        - name: customer_id
          in: query
          schema:
            type: integer
        - name: as_of_date
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ArAgingAnalysis'

  /erp/ar/collection-plans:
    get:
      tags: [应收]
      summary: 获取收款计划
      parameters:
        - name: customer_id
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ArCollectionPlan'

  /erp/ap/invoices:
    get:
      tags: [应付]
      summary: 获取应付发票列表
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
        - name: supplier_id
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApInvoiceList'
    post:
      tags: [应付]
      summary: 创建应付发票
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApInvoiceRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApInvoice'

  /erp/ap/payments:
    get:
      tags: [应付]
      summary: 获取付款记录
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApPaymentList'
    post:
      tags: [应付]
      summary: 创建付款记录
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApPaymentRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApPayment'

  /erp/ap/payment-requests:
    get:
      tags: [应付]
      summary: 获取付款请求
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApPaymentRequestList'
    post:
      tags: [应付]
      summary: 创建付款请求
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApPaymentRequestCreate'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApPaymentRequest'

  /erp/ap/reconciliations:
    get:
      tags: [应付]
      summary: 获取应付对账
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApReconciliationList'

  /erp/cost/collections:
    get:
      tags: [成本]
      summary: 获取成本归集
      parameters:
        - name: period
          in: query
          schema:
            type: string
        - name: product_id
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CostCollection'

  /erp/cost/direct-materials:
    get:
      tags: [成本]
      summary: 获取直接材料成本
      parameters:
        - name: product_id
          in: query
          schema:
            type: integer
        - name: period
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CostDirectMaterial'

  /erp/cost/direct-labors:
    get:
      tags: [成本]
      summary: 获取直接人工成本
      parameters:
        - name: product_id
          in: query
          schema:
            type: integer
        - name: period
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CostDirectLabor'

  /erp/cost/manufacturing-overheads:
    get:
      tags: [成本]
      summary: 获取制造费用
      parameters:
        - name: product_id
          in: query
          schema:
            type: integer
        - name: period
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CostManufacturingOverhead'

  /erp/cost/dyeing-fees:
    get:
      tags: [成本]
      summary: 获取染整费用
      parameters:
        - name: product_id
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CostDyeingFee'

  /erp/cost/analyses:
    get:
      tags: [成本]
      summary: 获取成本分析
      parameters:
        - name: product_id
          in: query
          schema:
            type: integer
        - name: period
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CostAnalysis'

  /erp/finance/fixed-assets:
    get:
      tags: [固定资产]
      summary: 获取固定资产列表
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixedAssetList'
    post:
      tags: [固定资产]
      summary: 创建固定资产
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FixedAssetRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixedAsset'

  /erp/finance/fixed-assets/{id}/depreciate:
    post:
      tags: [固定资产]
      summary: 计提折旧
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                period:
                  type: string
                amount:
                  type: number
      responses:
        '200':
          description: 计提成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /erp/finance/fixed-assets/{id}/dispose:
    post:
      tags: [固定资产]
      summary: 资产处置
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetDisposalRequest'
      responses:
        '200':
          description: 处置成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /erp/finance/indicators:
    get:
      tags: [财务分析]
      summary: 获取财务指标
      parameters:
        - name: period
          in: query
          schema:
            type: string
        - name: indicator_code
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FinancialIndicator'

  /erp/finance/analysis-results:
    get:
      tags: [财务分析]
      summary: 获取财务分析结果
      parameters:
        - name: analysis_type
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FinancialAnalysisResult'

  /erp/finance/trends:
    get:
      tags: [财务分析]
      summary: 获取财务趋势
      parameters:
        - name: indicator_code
          in: query
          schema:
            type: string
        - name: start_period
          in: query
          schema:
            type: string
        - name: end_period
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FinancialTrend'

  /erp/finance/fund-accounts:
    get:
      tags: [资金]
      summary: 获取资金账户列表
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundAccount'
    post:
      tags: [资金]
      summary: 创建资金账户
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundAccountRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundAccount'

  /erp/finance/fund-transfers:
    get:
      tags: [资金]
      summary: 获取资金调拨记录
      parameters:
        - $ref: '#/components/parameters/PageParam'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundTransferList'
    post:
      tags: [资金]
      summary: 创建资金调拨
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundTransferRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundTransfer'

  /erp/finance/budget-items:
    get:
      tags: [预算]
      summary: 获取预算项树
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BudgetItem'
    post:
      tags: [预算]
      summary: 创建预算项
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BudgetItemRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetItem'

  /erp/finance/budget-plans:
    get:
      tags: [预算]
      summary: 获取预算方案
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetPlanList'
    post:
      tags: [预算]
      summary: 创建预算方案
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BudgetPlanRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetPlan'

  /erp/finance/budget-adjustments:
    get:
      tags: [预算]
      summary: 获取预算调整
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BudgetAdjustment'

  /erp/finance/currencies:
    get:
      tags: [币种]
      summary: 获取币种列表
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Currency'

  /erp/finance/exchange-rates:
    get:
      tags: [币种]
      summary: 获取当前汇率
      parameters:
        - name: from_currency
          in: query
          schema:
            type: string
        - name: to_currency
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExchangeRate'

  /erp/finance/exchange-rate-history:
    get:
      tags: [币种]
      summary: 获取汇率历史
      parameters:
        - name: from_currency
          in: query
          schema:
            type: string
        - name: to_currency
          in: query
          schema:
            type: string
        - name: start_date
          in: query
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExchangeRate'

  # ═══════════════════════════════════════════════════════════════════
  # 生产 / BOM / MRP / 质量
  # ═══════════════════════════════════════════════════════════════════
  /erp/production/orders:
    get:
      tags: [生产订单]
      summary: 获取生产订单列表
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductionOrderList'
    post:
      tags: [生产订单]
      summary: 创建生产订单
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductionOrderRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductionOrder'

  /erp/boms:
    get:
      tags: [BOM]
      summary: 获取 BOM 列表
      parameters:
        - name: product_id
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Bom'
    post:
      tags: [BOM]
      summary: 创建 BOM
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BomRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bom'

  /erp/mrp/results:
    get:
      tags: [MRP]
      summary: 获取 MRP 计算结果
      parameters:
        - name: period
          in: query
          schema:
            type: string
        - name: product_id
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MrpResult'

  /erp/mrp/calculate:
    post:
      tags: [MRP]
      summary: 触发 MRP 计算
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                period:
                  type: string
      responses:
        '200':
          description: 计算完成
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /erp/work-centers:
    get:
      tags: [工作中心]
      summary: 获取工作中心列表
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WorkCenter'

  /erp/quality/standards:
    get:
      tags: [质量标准]
      summary: 获取质量标准
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QualityStandardList'
    post:
      tags: [质量标准]
      summary: 创建质量标准
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QualityStandardRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QualityStandard'

  /erp/quality/inspections:
    get:
      tags: [质量检验]
      summary: 获取检验记录
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QualityInspectionList'
    post:
      tags: [质量检验]
      summary: 创建检验记录
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QualityInspectionRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QualityInspection'

  /erp/quality/unqualified:
    get:
      tags: [不合格品]
      summary: 获取不合格品记录
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnqualifiedProductList'

  # ═══════════════════════════════════════════════════════════════════
  # BPM 流程引擎
  # ═══════════════════════════════════════════════════════════════════
  /erp/bpm/definitions:
    get:
      tags: [BPM]
      summary: 获取流程定义
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BpmDefinition'
    post:
      tags: [BPM]
      summary: 创建流程定义
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BpmDefinitionRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BpmDefinition'

  /erp/bpm/instances:
    get:
      tags: [BPM]
      summary: 获取流程实例
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BpmInstanceList'
    post:
      tags: [BPM]
      summary: 启动流程实例
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BpmInstanceRequest'
      responses:
        '201':
          description: 启动成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BpmInstance'

  /erp/bpm/tasks:
    get:
      tags: [BPM]
      summary: 获取任务列表
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
        - name: status
          in: query
          schema:
            type: string
        - name: assignee_id
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BpmTaskList'

  /erp/bpm/tasks/{id}/approve:
    post:
      tags: [BPM]
      summary: 审批任务
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                approved:
                  type: boolean
                comment:
                  type: string
      responses:
        '200':
          description: 审批成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /erp/bpm/tasks/{id}/delegate:
    post:
      tags: [BPM]
      summary: 委托任务
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                delegate_to:
                  type: integer
                reason:
                  type: string
      responses:
        '200':
          description: 委托成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /erp/bpm/tasks/{id}/urge:
    post:
      tags: [BPM]
      summary: 催办任务
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: 催办成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  # ═══════════════════════════════════════════════════════════════════
  # 通知 / 邮件 / OA
  # ═══════════════════════════════════════════════════════════════════
  /erp/notifications:
    get:
      tags: [通知]
      summary: 获取通知列表
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
        - name: status
          in: query
          schema:
            type: string
            enum: [unread, read, all]
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationList'

  /erp/notifications/{id}/read:
    post:
      tags: [通知]
      summary: 标记通知已读
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: 标记成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /erp/notification-settings:
    get:
      tags: [通知]
      summary: 获取通知设置
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NotificationSetting'
    put:
      tags: [通知]
      summary: 更新通知设置
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/NotificationSetting'
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /erp/emails/send:
    post:
      tags: [邮件]
      summary: 发送邮件
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailSendRequest'
      responses:
        '200':
          description: 发送成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

[...]
